body{
  background: #45D1CA;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-family: 'Pattaya', sans-serif;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.torress_goal{
  text-align: center;
}

iframe{
  display: block;
  margin: auto;
}
