body{
  background: #45D1CA;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-family: 'Pattaya', sans-serif;
  font-size: 3.5em;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
}
